.order-pay-container {
  padding: 30rpx;

  .icon {
    width: 60rpx;
    height: 60rpx;
  }
  .pay-summary {
    text-align: center;
    padding: 100rpx 0;

    .total {
      font-size: 36rpx;
      font-weight: bold;
      text {
        font-size: 60rpx;
      }
    }
    .number {
      font-size: 28rpx;
    }
  }

  .pay-wrapper {
    padding-bottom: 100rpx;

    .pay-title-text {
      padding: 20rpx 0;
      font-size: 28rpx;
      color: #999;
    }

    .pay-method {
      width: 100%;
      display: flex;
      align-items: center;
      height: 130rpx;
      margin: 20rpx 0;
      padding: 0 30rpx;
      border: 1px solid #eee;
      border-radius: 20rpx;
      overflow: hidden;

      .tick {
        position: absolute;
        display: none;
        width: 50rpx;
        height: 50rpx;
        bottom: -1rpx;
        right: 0;
      }

      &.active {
        position: relative;
        border: 1px solid #fe4a4b;

        .tick {
          display: block;
        }
      }

      .weixin-text {
        padding: 0 20rpx;
        font-size: 30rpx;
      }

      .yue-text {
        display: flex;
        flex-direction: column;
        padding: 0 20rpx;
        font-size: 30rpx;
        .num {
          font-size: 24rpx;
          color: #999;
        }
      }
    }

  }


  .button-group {
    .button {
      width: 100%;
      padding: 20rpx 0;
      margin: 30rpx 0;
      background-color: #f2f2f2;
      color: #999;
      text-align: center;
      font-size: 28rpx;
      border-radius: 40rpx;

      &.active {
        color: #fff;
        background-color: #fe4a4b;
      }
    }
  }
}