page {
  padding: 30rpx;
  background-color: #f2f2f2;
}

.add-address {
  background-color: #fff;
  text-align: center;
  padding: 30rpx 0;
  margin-bottom: 20rpx;
  font-size: 28rpx;

  image {
    width: 40rpx;
    height: 40rpx;
  }
}


.address-item {
  padding: 40rpx 0;
  border-bottom: 1px solid #e2e2e2;

  .details {
    display: flex;
    align-items: center;

    .info {
      flex: 1;

      .info-address {
        font-size: 28rpx;

        text {
          margin-left: 10rpx;
          font-size: 24rpx;
          background-color: #ffeded;
          color: #fe4a4b;
        }
      }
      .info-contact {
        padding-top: 10rpx;
        font-size: 26rpx;
        color: #999;
      }
    }

    .edit-icon {
      width: 40rpx;
      height: 40rpx;
    }

  }
  




  .set-default {
    font-size: 22rpx;
    color: #999;
    display: flex;
    align-items: center;
    padding-top: 10rpx;

    image {
      width: 26rpx;
      height: 26rpx;
    }

    text {
      padding-left: 10rpx;
    }

  }
}