/* components/bottomCart.wxss */
@import './cartDetail.wxss';
/* Cart style */

.currency {
  font-family: 'DIN';
}

.cart-wrapper {
  position: fixed;
  bottom: 20rpx;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 100rpx;
  border-radius: 60rpx;
  display: flex;
  overflow: hidden;
  z-index: 100;
}

.cart-total {
  flex: 1;
  background-color: #000;
  display: flex;
  align-items: center;
}

.bucket-wrapper {
  position: relative;
  width: 140rpx;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bucket-icon {
  width: 50rpx;
  height: 50rpx;
  position: relative;
  left: 4rpx;
}
.item-no {
  position: absolute;
  top: 10rpx;
  right: 24rpx;
  z-index: 1;
  background-color: red;
  color: #fff;
  height: 30rpx;
  min-width: 30rpx;
  border-radius: 50%;
  font-size: 18rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-money {
  font-family: "DIN";
  flex: 1;
  color: #fff;
  font-size: 20rpx;
}

.cart-text-tp-1 {
  padding: 0 4rpx;
}
.cart-text-tp-2 {
  font-size: 46rpx;
  padding: 0 4rpx;
}
.cart-text-tp-3 {
  font-size: 26rpx;
}
.cart-text-tp-4 {
  padding: 0 20rpx;
  color: #999;
}
.cart-text-bt {
  font-size: 20rpx;
  color: #666;
}


/* checkout */
.cart-checkout {
  width: 180rpx;
  background-color: #fe4a4b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 28rpx;
  padding-right: 10rpx;

  &.notenough {
    background-color: #666;
  }
}

/* closed */
.cart-closed {
  width: 180rpx;
  background-color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 28rpx;
  padding-right: 10rpx;
}


