.top-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  text {
    flex: 1;
    color: #fff;
    font-size: 46rpx;
    font-weight: bold;
  }

  image {
    position: relative;
    top: 6rpx;
    right: 4rpx;
    height: 140rpx;
    width: 220rpx;
  }
}

.status-container {
  text-align: center;
  padding: 20rpx;

  .title-text {
    font-size: 28rpx;
    padding: 20rpx 0;
  }

  .utils-done {
    display: flex;
    padding: 20rpx 0;

    &>view {
      navigator { 
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      

      &.center {
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
      }

      image {
        width: 36rpx;
        height: 36rpx;
      }

      text {
        font-size: 26rpx;
        padding-left: 5rpx;
      }
    }

  }
}